# Binaries
/bin/
bin-int/
Intermediates/

# Files
*.user

# Profile files
ToastProfile-Runtime.json
ToastProfile-Shutdown.json
ToastProfile-Startup.json

# Toast files
*.log
*.tlog

# Visual Studio files and folder
*.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# ImGui
Mars/imgui.ini