[submodule "Toast/vendor/spdlog"]
	path = Toast/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Toast/vendor/imgui"]
	path = Toast/vendor/imgui
	url = https://github.com/TheCherno/imgui
	branch = docking
[submodule "Toast/vendor/directxtk"]
	path = Toast/vendor/directxtk
	url = https://github.com/Toastmastern87/DirectXTK
