[submodule "Toast/vendor/spdlog"]
	path = Toast/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Toast/vendor/imgui"]
	path = Toast/vendor/imgui
	url = https://github.com/TheCherno/imgui
