# Binaries
/bin/
bin-int/
Intermediates/

# Files
*.user

# Toast files
*.log
*.tlog

# Visual Studio files and folder
*.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csxproj.user

# ImGui
Mars/imgui.ini